<!--

body						{ text-align:center; background:#FFFFFF; margin:0px auto; color:black; }
				
.header						{ width:950px; margin-top:100px; margin-left:auto; margin-right:auto; overflow:auto; border-style:solid; border-width:2px; text-align:center; color:black; page-break-before:always; }
.header .charname			{ width:auto; margin:0px auto; float:left; padding:5px; font-size:24pt; font-weight:bold; text-align:left; color:black; }
.header .charinfo			{ width:auto; margin:0px auto; float:right; padding:5px; text-align:left; color:black; }
.header .charinfo .first	{ padding-left:5px; }
.header .charinfo .rest		{ padding-left:10px; }


.main					{ width:950px; margin:0px auto; overflow:auto; border-style:solid; border-width:2px; text-align:center; color:black; }

.main .labelbox			{ overflow:auto; margin:5px; padding:5px; border-style:solid; border-width:thin; text-align:left; font-size:10pt; background:white; position:relative; }
.main .labelbox .label	{ margin:5px; margin-bottom:0px; padding:0px; font-weight:bold; text-align:center; position:absolute; bottom: 8px; left: 50%; transform: translateX(-50%); }

.main .leftcolumn									{ width:32%; margin:0px auto; float:left; padding:5px; text-align:center; color:black; background:white; }
.main .leftcolumn .attributes						{ width:auto; margin:0px auto; margin-right:5px; float:left; background:#EDEDED; text-align:center; color:black; }
.main .leftcolumn .attributes .abilities				{ margin:10px; margin-top:15px; padding:5px; padding-bottom:0px; border-style:solid; border-width:thin; font-weight:bold; background:white; }
.main .leftcolumn .attributes .abilities .modifiers	{ font-weight:normal; font-size:24pt; }
.main .leftcolumn .attributes .abilities .scores		{ margin:5px; margin-bottom:0px; padding:5px; border-style:solid; border-width:thin; border-bottom-style:none; }

.main .leftcolumn .singlestat			{ overflow:auto; margin:5px auto; padding:5px; border-style:solid; border-width:thin; }
.main .leftcolumn .singlestat .value	{ float:left; padding:5px; font-size:18pt; border-right-style:solid; border-width:thin; }


.main .centercolumn 					{ width:32%; margin:0px auto; float:left; padding:5px; text-align:center; color:black; background:white; }

.main .centercolumn .labelbox .currencybox		{ width:20%; float:left; clear:left; margin:5px; padding:5px; border-style:solid; border-width:thin; }

.main .centercolumn .hpdef										{ width:100%; margin:0px auto; float:left; background:#EDEDED; text-align:center; color:black; }
.main .centercolumn .hpdef .singlestatcontainer					{ display:flex; width:100%; margin:0px auto; float:left; text-align:center; color:black; }
.main .centercolumn .hpdef .singlestatcontainer .singlestat		{ flex:1; width:auto; overflow:auto; float:left; margin:5px; padding:5px; border-style:solid; border-width:thin; background:white; }
.main .centercolumn .hpdef .singlestatcontainer .singlestat .value	{ padding:5px; font-size:18pt; }

.main .centercolumn .hpdef .halfboxcontainer					{ width:100%; margin:0px auto; float:left; text-align:center; color:black; }
.main .centercolumn .hpdef .halfboxcontainer .halfbox			{ float:left; width:40%; height:80px; overflow:auto; margin:5px; padding:5px; border-style:solid; border-width:thin; text-align:left; font-size:10pt; background:white;  position:relative; }
.main .centercolumn .hpdef .halfboxcontainer .halfbox .label	{ font-weight:bold; text-align:center; position:absolute; bottom: 8px; left: 50%; transform: translateX(-50%); }

.main .rightcolumn					{ width:31%; margin:0px auto; float:left; padding:5px; text-align:center; color:black; background:white; }
.main .rightcolumn .personality		{ width:100%; margin:0px auto; padding:5px; float:left; background:#EDEDED; text-align:center; color:black; }

.main .doublecolumn						{ width:65%; margin:0px auto; float:left; padding:5px; text-align:center; color:black; background:white; }

.main .spellcolumn									{ width:32%; margin:0px auto; float:left; padding:5px; text-align:center; color:black; background:white; }
.main .spellcolumn .spelltier						{ overflow:auto; margin:5px; padding:0px; text-align:left; background:white; }
.main .spellcolumn .spelltier .headerbar			{ width:98%; float:left; border-style:solid; border-width:2px; font-weight:bold; }
.main .spellcolumn .spelltier .headerbar .titles	{ font-size:10pt; font-weight:normal; }
.main .spellcolumn .spelltier .headerbar .content	{ font-size:16px; font-weight:normal; }
.main .spellcolumn .spelltier .headerbar .box		{ width:auto; float:left; padding:5px; border-right-style:solid; border-width:thin; font-size:22pt; }
.main .spellcolumn .spelltier .headerbar .openbox	{ width:auto; float:left; padding:5px; font-size:14pt; }

.main .spellcolumn .spelltier .spellbox			{ width:95%; float:left; padding:5px; border-bottom-style:solid; border-width:thin; }

.main .spellbookentry		{ width:45%; overflow:auto; float:left; margin:5px; padding:10px; border-style:solid; border-width:thin; text-align:left; }
.main .spellbookentry h1	{ font-size:16pt; margin:0px; }

table, th, td { width:100%; border:1px solid black; text-align:center; border-collapse:collapse; }

-->